.body {
    background-image: url(./../img/g7.jpg);
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
}

#card {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);

}


a {
    text-decoration: none;
    color: brown;
}

.input {
    border-radius: 20px;
}
